# Ignore compiled output
/target/

# Ignore build artifacts
/dist/

# Ignore temporary editor/project files
**/*.swp
.DS_Store

# VSCode: ignore everything except shared config
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

**/tests/tmp/